// Styles for Body
@media (max-width: 1440px) {
    .section-content {
        top: 27% !important;
    }
}

@media (max-width: 1280px) {
    .section-content {
        top: 25% !important;
    }
    .dynamic-text-section {
      .dynamic-text-right {
        font-size: 60px !important;
        font-weight: 600 !important;
      }
      .dynamic-text-left {
        font-size: 40px !important;
      }
    }
}

html body {
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 100%;
    .app-icons {
        width: 4px;
        min-width: 35px;
        margin: 0px;
        i {
            color: rgb(0, 209, 193);
        }
    }
}

// Styles for Blinking Cursor
.typed-cursor {
    opacity: .1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 6em;
    text-align: center;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Styles for Header
.header {
    width: 100%;
    z-index: 1;
    position: absolute;
    md-toolbar {
        background: transparent;
        .md-toolbar-tools {
            .logout {
                p {
                    font-weight: 200;
                    font-size: .9em;
                    cursor: pointer;
                }
                button {
                    min-width: 0px;
                    md-icon {
                        i {
                            color: rgb(0, 209, 193);
                        }
                    }
                }
            }
            .home-button {
                border: none;
            }
            .other-buttons {
                color: rgb(255, 255, 255);
                font-size: .6em;
                min-width: 70px;
                min-height: 0px;
                box-shadow: 0px 0px 0px;
                background-color: transparent;
                border: 1px solid rgb(0, 209, 193);
            }
            .other-buttons:hover {
                background-color: rgb(0, 209, 193);
                color: rgb(255, 255, 255);
                border: none;
            }
        }
    }
    .mdSideNav {
        md-sidenav {
            background-color: rgb(251, 251, 251);
            margin-top: 70px;
            min-height: 300px;
            margin-right: 50px;
            max-width: 270px;
            .cancelButton {
                min-width: 35px;
                width: 0%;
                color: black;
                i {
                    display: block;
                    float: right;
                }
            }
            md-content {
                background-color: rgb(251, 251, 251);
                padding-top: 0px;
                p {
                    text-align: center;
                    font-style: italic;
                }
                button {
                    .md-button {
                        box-shadow: none;
                    }
                    width: 100%;
                    font-weight: 300;
                }
            }
            i {
                color: rgb(0, 209, 193);
            }
            input {
                color: rgb(41, 38, 47);
            }
        }
    }
}

.header-content {
    width: 100%;
    height: 940px;
    background-image: url('../images/typewritter2BW.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    .section-content {
        box-sizing: border-box;
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        max-width: 605px;
        text-align: center;
        text-transform: uppercase;
        .dynamic-text-section {
            text-align: center;
            .dynamic-text-right {
                font-size: 70px;
                font-weight: 500;
                color: rgb(41, 38, 47);
                font-weight: 700;
            }
            .dynamic-text-left {
                margin-top: -12px;
                font-size: 50px;
                font-weight: 300;
                color: rgb(41, 38, 47);
            }
        }
    }
}

.footer {
    padding: 20px;
    background-color: rgb(0, 209, 193);
    color: white;
    h3 {
        margin: 0px;
        font-weight: 300;
    }
}

.header-content-footer {
    margin-top: -10px;
    padding: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(136, 143, 145);
    h4 {
        margin: 0px;
        font-size: 1.5em;
        font-weight: normal;
    }
}

// Styles for SignUp
.signup-image-holder {
    height: 1000px;
    .signup-70 {
        background-color: rgb(53, 47, 57);
        border-right: 2px solid rgb(172, 172, 172);
        .signup-form-holder {
            padding: 110px 70px;
            md-content {
                background-color: rgb(251, 251, 251);
                width: 350px;
                padding: 25px;
                border-radius: 12px;
                .signUpHeader {
                    text-align: center;
                    background-color: rgb(0, 209, 193);
                    margin: 0px;
                    box-shadow: none;
                    padding: 0px;
                    h3 {
                        font-weight: 300;
                        margin: 12px;
                    }
                }
                .signUpForm {
                    margin-top: 20px;
                    md-input-container {
                        height: 54px;
                    }
                    .other-inputs {
                        margin-top: -25px;
                    }
                    label {
                        color: rgb(41, 38, 57);
                    }
                }
            }
        }
    }
    .signup-30 {
        background-color: rgb(59, 53, 64);
    }
}

// Styles for Login Service
.loginForm {
    padding: 20px;
    h3 {
        margin: 0px;
    }
}

// Styles for Document Page
.document-header {
    background-color: rgb(41, 38, 47);
    height: 64px;
}

.documentContainer {
    background-color: rgb(248, 248, 248);
    .documentChild30 {
        background-color: rgb(248, 248, 248);
        border-left: solid 1px rgb(218, 218, 218);
        min-height: 900px;
        max-height: 900px;
        overflow: scroll;
        md-sidenav {
            max-width: 500px;
            width: 100%;
        }
        h3 {
            margin: 0px;
            font-weight: 400;
            padding-bottom: 0px;
        }
        p {
            margin-top: 0px;
            font-weight: 300;
            letter-spacing: .5px;
            color: rgb(0, 0, 0);
        }
        md-content {
            background-color: rgb(248, 248, 248);
        }
        md-card {
            width: 100%;
        }
        md-list-item {
            padding: 0px;
        }
        .recentDocFooter {
            background-color: rgb(41, 38, 47);
            p {
                color: rgb(255, 255, 255);
                font-weight: 300;
                padding-bottom: 5px;
                margin-bottom: 0px;
            }
        }
    }
    .documentChild5 {
        padding-top: 15px;
        border-right: 1px solid rgb(218, 218, 218);
        background-color: rgb(41, 38, 47);
        i {
            color: rgb(0, 209, 193);
        }
    }
    .documentChild70 {
        background-color: rgb(252, 252, 252);
        padding-left: 20px;
        .listUsers {
          overflow: scroll;
          margin-left: 80px;
          width: 370px;
          md-toolbar {
            background-color: rgb(0, 209, 193);
          }
          md-list {
            padding: 0px;
            md-list-item {
              padding: 0 5px;
              md-card {
                div {
                  md-input-container {
                    p {
                      font-size: .8em;
                    }
                  }
                }
              }
            }
          }
        }
        .userForm {
            margin-left: 80px;
            md-toolbar {
                background-color: rgb(0, 209, 193);
            }
        }
        h3 {
            font-weight: 400;
        }
        md-grid-list {
            margin-top: 33px;
            .createDocument {
                background: #ffff8d;
                border: 1px solid rgb(218, 218, 218);
            }
            .createDocument:hover {
                background-color: rgb(255, 255, 255);
                color: red;
            }
        }
    }
}

.documentFormContainer {
    h3 {
        color: black;
        font-weight: 300;
        margin-bottom: 0px;
    }
    form {
        min-height: 200px;
        min-width: 450px;
        md-input {
            border-color: transparent;
        }
        .titleAreaContainer {
            margin-bottom: 0px;
            label {
                color: rgb(41, 38, 57);
            }
        }
        .titleAreaContainer:focus {
            color: green;
        }
        .textAreaContainer {
            border-color: transparent;
            margin-top: 0px;
            label {
                color: rgb(41, 38, 57);
            }
            textarea {
                border-color: transparent;
            }
            textarea:focus {
                border-color: transparent;
            }
        }
        button {
            margin: 0px;
            font-weight: 300;
            background-color: rgb(0, 209, 193);
        }
        button:hover {
            background-color: rgb(255, 255, 255)
        }
        .create {
            margin-right: 15px;
        }
    }
}

md-dialog {
    color: black;
}
