// Styles for Body
html body {
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 100%;
}

// Styles for Blinking Cursor
.typed-cursor {
    opacity: .1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 6em;
    text-align: center;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Styles for Header
.header {
    width: 100%;
    z-index: 1;
    position: absolute;
    md-toolbar {
        background: transparent;
        .md-toolbar-tools {
            .home-button {
                border: none;
            }
            .other-buttons {
                color: rgb(255, 255, 255);
                font-size: .6em;
                min-width: 70px;
                min-height: 0px;
                box-shadow: 0px 0px 0px;
                background-color: transparent;
                border: 1px solid yellow;
            }
            .other-buttons:hover {
                background-color: rgb(255, 255, 255);
                color: rgb(109, 117, 120);
            }
        }
    }
}

.header-content {
    width: 100%;
    height: 100%;
    min-height: 955px;
    background: url('../images/typewritter2BW.jpg');
    position: fixed;
    overflow: auto;
    .section-content {
        box-sizing: border-box;
        position: absolute;
        top: 30%;
        left: 48%;
        transform: translateY(-50%) translateX(-50%);
        max-width: 605px;
        text-align: center;
        text-transform: uppercase;
        .dynamic-text-section {
            .dynamic-text-right {
                font-size: 80px;
                font-weight: 500;
                background-color: white;
                //letter-spacing: .1em;
                font-weight: 700;
            }
            .dynamic-text-left {
                font-size: 60px;
                font-weight: normal;
            }
        }
        // .home-name {
        //     letter-spacing: .6em;
        //     font-size: 2.6rem;
        //     etter-spacing: .2em;
        //     //font-weight: 700;
        //     color: white;
        //     span {
        //         letter-spacing: .2;
        //     }
        // }
        // .home-title {
        //     border: 4px solid #fff;
        //     font-size: 2rem;
        //     letter-spacing: .4em;
        //     margin: 20px 0px;
        // }
        // .home-cta {
        //     width: 100%;
        //     height: 60px;
        //     text-align: center;
        //     .home-cta::before {
        //         content: "";
        //         position: absolute;
        //         top: 20px;
        //         left: 0;
        //         width: 200px;
        //         height: 1px;
        //         background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
        //     }
        // }
    }
}

.header-content-footer {
    margin-top: -10px;
    padding: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(136, 143, 145);
    h4 {
        margin: 0px;
        font-size: 1.5em;
        font-weight: normal;
    }
}

// Styles for SignUp
.signup-image-holder {
    height: 1000px;
    // background: red;
    // /* For browsers that do not support gradients */
    // background: -webkit-linear-gradient(-45deg, #520435, #352F39);
    // /* For Safari 5.1 to 6.0 */
    // background: -o-linear-gradient(-45deg, #520435, #352F39);
    // /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient(-45deg, #520435, #352F39);
    // /* For Firefox 3.6 to 15 */
    // background: linear-gradient(-45deg, #520435, #352F39);
    // /* Standard syntax */
    .signup-70 {
        background-color: rgb(53, 47, 57);
        border-right: 2px solid rgb(172, 172, 172);
        .signup-form-holder {
            padding: 110px 70px;
            md-content {
                width: 380px;
                padding: 25px;
                border-radius: 12px;
                .signUpHeader {
                    text-align: center;
                    margin: 0px;
                    box-shadow: none;
                    border: 1px solid grey;
                    padding: 0px;
                    h3 {
                        margin: 12px;
                    }
                }
                .signUpForm {
                    margin-top: 20px;
                    md-input-container {
                      height: 54px;
                    }
                    .other-inputs {
                      margin-top: -25px;
                    }
                }
            }
        }
    }
    .signup-30 {
        background-color: rgb(59, 53, 64);
    }
}

// Styles for Login Service
.loginForm {
    padding: 20px;
    h3 {
        margin: 0px;
    }
}

// Styles for Document Page
.documentContainer {
    .documentChild30 {
        border-left: solid 1px rgb(218, 218, 218);
        h3 {
            margin: 0px;
            padding-bottom: 0px;
        }
        p {
            margin-top: 0px;
        }
        md-card {
            width: 100%;
        }
    }
    .documentChild5 {
        border-right: 1px solid rgb(218, 218, 218)
    }
    .documentChild70 {
        md-grid-list {
            margin-top: 33px;
            .createDocument {
                background: #ffff8d;
                border: 1px solid rgb(218, 218, 218);
            }
            .createDocument:hover {
                background-color: rgb(255, 255, 255);
                color: red;
            }
        }
    }
}

.documentFormContainer {
    h3 {
        color: black;
        font-style: italic;
        margin-bottom: 0px;
    }
    form {
        min-height: 200px;
        min-width: 450px;
        md-input {
            border-color: transparent;
        }
        .titleAreaContainer {
            margin-bottom: 0px;
        }
        .titleAreaContainer:focus {
            color: green;
        }
        .textAreaContainer {
            border-color: transparent;
            margin-top: 0px;
            textarea {
                border-color: transparent;
            }
            textarea:focus {
                border-color: transparent;
            }
        }
        button {
            margin-left: 400px;
        }
    }
}
