// Styles for Body
body {
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
}

// Styles for Header
.header {
    md-toolbar {
        background-color: rgb(255, 255, 255);
        .md-toolbar-tools {
            background-color: rgb(109, 117, 120);
            .md-button {
                color: rgb(255, 255, 255);
                font-size: .6em;
                min-width: 70px;
                min-height: 0px;
                box-shadow: 0px 0px 0px;
                background-color: transparent;
                border: 1px solid yellow;
            }
            .md-button:hover {
                background-color: rgb(255, 255, 255);
            }
        }
    }
}

.header-content {
    margin: -17px;
    padding: 60px 0px;
    background: url('../images/background-image.jpg');
    color: rgb(255, 255, 255);
    .header-content-wrapper {
        margin: 0px 100px;
        .header-content-left {
            font-size: 2.1em;
            letter-spacing: 2.4px;
            line-height: 120%;
        }
        .header-content-right {
            .header-content-right-img-holder {
                background: url('../images/laptop.png');
                display: block;
                width: 100%;
                height: 500px;
                background-repeat: no-repeat;
            }
        }
    }
}

.header-content-footer {
    margin-top: -10px;
    padding: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(136, 143, 145);
    h4 {
        margin: 0px;
        font-size: 1.5em;
        font-weight: normal;
    }
}

// Styles for SignUp
.signup-image-holder {
    height: 1000px;
    background: url('../images/background-photo-signup.jpg');
    md-content {
      width: 350px;
      padding: 20px;
      border-radius: 12px;
    };
    .signup-form {
      padding: 110px 70px;
      md-content {
        div {
          form {
            .md-button {
              margin-left: 250px;
            }
          }
        }
      }
    }

}
