base(href='/')
meta(charset='utf-8')
meta(name='description' content='Document Management System')

// Angular material style
link(rel="stylesheet" href="lib/angular-material/angular-material.min.css")
link(rel='stylesheet' type='text/css' href='css/app.css')
link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,300italic,400italic,600italic,200italic' rel='stylesheet' type='text/css')

// Angular material javascript dependencies
script(src="lib/angular/angular.min.js")
script(src="lib/angular-messages/angular-messages.min.js")
script(src="lib/angular-ui-router/release/angular-ui-router.min.js")
script(src="lib/angular-aria/angular-aria.min.js")
script(src="lib/angular-animate/angular-animate.min.js")
script(src="lib/angular-material/angular-material.min.js")
script(src="lib/angular-resource/angular-resource.min.js")
script(src="lib/angular-route/angular-route.min.js")

// Our scripts
script(src="js/application.js")
