.header(ng-controller='HeaderCtrl')
  md-toolbar
    .md-toolbar-tools
      span(flex)
      md-button.md-raised(aria-label='Documents')
        | Documents
      md-button.md-raised(aria-label='Roles')
        | Roles
      md-button.md-raised(aria-label='Users')
        | Users
      span(flex)
      md-button.md-raised(aria-label='Sign Up' ui-sref='signup')
        | Sign Up
      md-menu
        md-button.md-raised(aria-label='Log In interactions menu' ng-click='$mdOpenMenu($event)')
          | Log In
        md-menu-content(width='6')