.header
  md-toolbar
    .md-toolbar-tools
      span(flex='')
      md-button.md-raised(aria-label='Documents')
        | Documents
      md-button.md-raised(aria-label='Roles')
        | Roles
      md-button.md-raised(aria-label='Users')
        | Users
      span(flex='')
      md-button.md-raised(aria-label='Sign Up')
        | Sign Up
      md-button.md-raised(aria-label='Log In')
        | Log In
