.header(ng-controller='HeaderCtrl')
  md-toolbar
    .md-toolbar-tools
      span(flex)
      md-button.md-raised(aria-label='Sign Up' ui-sref='signup' ng-if='!currentUser')
        | Sign Up
      md-button.md-raised(aria-label='Sign Out' ng-if='currentUser' ng-click='logout()')
        | Log Out
      md-menu(ng-if='!currentUser')
        md-button.md-raised(aria-label='Log In interactions menu' ng-click='$mdOpenMenu($event)')
          a Log In
        md-menu-content(width='5' style='color:black')
          form(name='loginForm' class='loginForm')
            h3 Sign In
            md-input-container
              label Username
              input(required ng-model='user.username')
            md-input-container
              label Password
              input(required ng-model='user.password')
            div
              p(ng-model='messageLogin')
              md-button.md-raised(aria-label='Sign In' ng-click='login()')
                | Sign In





