.documentContainer(layout='row' ng-if='currentUser')
  .documentChild5(flex='5')
    md-content
      md-button.md-icon-button.md-primary(aria-label='Create Document' ng-click='openOffscreen($event)')
        md-icon
          i(class='fa fa-plus fa-2x')

  .documentChild70(flex='65')
    .md-padding
      h3.md-subheader My Documents
      div(ng-cloak='')
        md-grid-list(md-cols-sm='1', md-cols-md='2', md-cols-gt-md='4', md-row-height-gt-md='1:1.3', md-row-height='2:2', md-gutter='12px', md-gutter-gt-sm='8px')
          md-grid-tile.creteDocument(md-ink-ripple ng-click='openOffscreen($event)')
            img(src='../images/createDocument.png' style='width: 100%; height: 100%; border: 1px solid rgb(218,218,218)')
            md-grid-tile-footer
              h3 #1: (3r x 2c)
          md-grid-tile.green
            md-grid-tile-footer
              h3 #2: (1r x 1c)
          md-grid-tile.yellow
            md-grid-tile-footer
              h3 #3: (1r x 1c)
          md-grid-tile.blue
            md-grid-tile-footer
              h3 #4: (2r x 1c)
          md-grid-tile.red
            md-grid-tile-footer
              h3 #5: (2r x 2c)
      //- md-grid-list(md-cols-sm='1' md-cols-md='2' md-cols-gt-md='4')

      //-   md-grid-tile
      //-     p Sorry but
      //- md-grid-list(md-cols-sm='1', md-cols-md='2', md-cols-gt-md='6', md-row-height-gt-md='1:1', md-row-height='4:3', md-gutter='8px', md-gutter-gt-sm='4px')
      //-   md-grid-tile(ng-repeat='tile in vm.tiles', md-rowspan='{{tile.span.row}}', md-colspan='{{tile.span.col}}', md-colspan-sm='1', ng-class='tile.background')
      //-     md-icon(md-svg-icon='{{tile.icon}}')
      //-     md-grid-tile-footer
      //-       h3 {{tile.title}}




  .documentChild30(flex='30')
    md-content
      md-list
        md-subheader.md-no-sticky Recent Documents
        md-list-item(ng-repeat="document in allDocuments | orderBy:'-dateCreated'")
          md-card
            md-card-title-text
              h3.md-padding {{document.title}}
            md-card-content
              p {{document.content}}
            md-card-title-text(style='background: rgb(109,117,120)')
              p.md-padding(style='margin-bottom: 0px; color: white; padding-bottom: 5px') Created by {{document.owner}}
              p.md-padding(style='margin-bottom: 0px; color: white; padding-top: 0px') {{document.dateCreated | date: 'medium'}}










