.documentFormContainer(ng-controller='FormCtrl')
  form(name='documentForm').md-padding
    md-input-container.md-block
      label Title
      input(required type='text', ng-model='document.title')
    md-input-container.md-block(class='textAreaContainer')
      label Type out your document...
      textarea(type='text' ng-model='document.content')
    md-button.md-raised(aria-label='Create' ng-click='createDoc()')
      | Create