.documentFormContainer(ng-controller='FormCtrl')
  h3.md-padding {{ currentActionOnDoc }}
  form(name='documentForm').md-padding
    md-input-container.md-block(md-no-float='' class='titleAreaContainer')
      label Title
      input(required type='text' name="title" ng-model='document.title')
    md-input-container.md-block(class='textAreaContainer' md-no-float='')
      textarea(type='text' name="content" ng-model='document.content' placeholder='Type your document...')
    section(layout='row' layout-sm='column' layout-wrap layout-align='end center')
      md-button.create(aria-label='Create' ng-click='createOrUpdateDoc()')
        | {{ buttonAction }}
      md-button(aria-label='Cancel' ng-click='cancel()')
        | Cancel
