.header-content
  .section-content
    .dynamic-text-section
      span.dynamic-text-right
      .dynamic-text-left DOCUMENTS
.footer
  h3 &copy; 2016 Document++ A project by Teddy Otieno, ANDELA #TIA




