.header-content
  .section-content
    .dynamic-text-section
      span.dynamic-text-right
      .dynamic-text-left DOCUMENTS
  //- .footer
  //-   h2 Footer
    //- .home-cta:
    //-   md-button.md-raised(aria-label='Sign Up' ui-sref='signup')
    //-     | Sign Up



