.header-content
  .header-content-wrapper(layout='row')
    .header-content-left(flex='30')
      p DOCUMENT, MANAGE and ORGANIZE DOCUMENTS
    .header-content-right(flex='70')
      .header-content-right-img-holder

.header-content-footer
    h4 Join 2,000+ Documentarians. Get setup in seconds, integrate in minutes



