.signup-image-holder
  .signup-form
    md-content(layout-padding='')
        div
          form(name='userForm' ng-submit='signup()')
            div(layout='row')
              md-input-container.md-block(flex-gt-sm='')
                label First name
                input(required='',ng-model='user.firstName')
                div(ng-messages='userForm.firstName.$error')
                  div(ng-message='required') This is required.
              md-input-container.md-block(flex-gt-sm='')
                label Last Name
                input(ng-model='user.secondName')
            md-input-container.md-block(style='margin-top: -20px;')
              label Username
              input(ng-model='user.username')
            md-input-container.md-block(style='margin-top: -20px;')
              label E-mail
              input(ng-model='user.email')
            md-input-container.md-block(flex-gt-sm='', style='margin-top: -20px')
              label Role
              md-select(ng-model='user.title')
                md-option(ng-repeat='title in titles', value='{{title}}')
                  | {{title}}
            md-input-container.md-block(style='margin-top: -20px;')
              label Password
              input(ng-model='user.password')
            md-input-container.md-block(style='margin-top: -20px;')
              label Confirm your password
              input(ng-model='user.confirmPassword')
            md-button.md-raised(aria-label='Submit' type='submit')
              | Submit

p Add
